<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="fw-light">Better Tomorrow Starts Today</h1>
            <p class="lead">Health is one of the most important thing in life</p>
        </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
      <h2 class="fw-light">Health Journey</h2>
      <p>There are many ways to make progress towards healthier life style. Calories tracking is one of the most powerful and well known way to improve your health.</p>
    </div>
</section>
