<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Records</mat-card-title>
      <mat-card-subtitle>Here is the list of all your past calories intake</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="table-positioning">
        <table>
            <tbody>
                <tr>
                    <th>Day #</th>
                    <th class="second-col">Calories</th>
                </tr>
                <tr *ngFor="let record of records; let i = index">
                    <td> {{ record.dayNum }} </td>
                    <td class="second-col"> {{ record.calOfDay }} </td>
                </tr>
            </tbody>
        </table>        
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
  
<!-- <table>
    <tbody>
        <tr *ngFor="let record of records; let i = index">
            <td> {{ record.dayNum }} </td>
            <td> {{ record.calOfDay }} </td>
        </tr>
    </tbody>
</table> -->
